<div class="container mt-5 p-4 bg-light rounded shadow-sm">
  <h2 class="mb-4">Lista de Clientes</h2>

  <div class="mb-3">
    <button class="btn btn-success" (click)="inserirCliente()">Novo Cliente</button>
  </div>

  <div *ngIf="clientes.length > 0" class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>Nome</th>
          <th>CPF/CNPJ</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Cidade</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let cliente of clientes" (click)="consultarCliente(cliente.id)" style="cursor: pointer;">

          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.cpfCnpj }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.telefone }}</td>
          <td>{{ cliente.endereco.cidade }}</td>

          <td>

            <button class="btn btn-info btn-sm" (click)="consultarCliente(cliente.id)">
              Consultar
            </button>


            <!-- Botão Alterar: impede o clique da linha -->
            <button class="btn btn-primary btn-sm me-1" (click)="alterarCliente(cliente); $event.stopPropagation()">
              Alterar
            </button>

            <!-- Botão Excluir: impede o clique da linha -->
            <button class="btn btn-danger btn-sm" (click)="excluirCliente(cliente, $event); $event.stopPropagation()">
              Excluir
            </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="clientes.length === 0" class="alert alert-info">
    Nenhum cliente cadastrado.
  </div>
</div>