<div class="lista-container">
    <h2>Clientes Cadastrados (N CRUD)</h2>

    <button [routerLink]="['/cliente/novo']" class="btn-novo">
        + Adicionar Novo Cliente
    </button>

    <table *ngIf="clientes.length > 0; else noClientes">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Telefone</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.telefone }}</td>
          <td>
            <button (click)="editarCliente(cliente.id)" class="btn-acao">Editar</button>
            </td>
        </tr>
      </tbody>
    </table>

    <ng-template #noClientes>
        <p>Nenhum cliente cadastrado.</p>
    </ng-template>
</div>