<!-- Barra de navegação superior com estilo Bootstrap -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <!-- Link para a página inicial -->
      <li class="nav-item">
          <a routerLink="inicio" routerLinkActive="active" class="nav-link">Home</a>
      </li>

      <!-- Link para a listagem de certificados digitais -->
      <li class="nav-item">
          <a routerLink="certificadodigital-lista" routerLinkActive="active" class="nav-link">Certificados Digitais</a>
      </li>
  </ul>
</nav>

<!-- Ponto onde os componentes das rotas serão carregados -->
<router-outlet></router-outlet>

<!-- Rodapé fixo com versão do sistema -->
<footer class="footer">
  <div class="container">
      <span>Sistema de Gestão de Certificados Digitais- V1.0</span>
  </div>
</footer>