<div class="container">
    <br>
    <h3>Alterar Produto</h3>
    <br>

    <form (ngSubmit)="onSubmit()">

        <!-- CÓDIGO -->
        <div class="form-group row">
            <div class="col-4">
                <label for="codigo">Código</label>
                <input type="text" class="form-control" id="codigo" name="codigo" [(ngModel)]="produto.codigo" disabled>
            </div>
        </div>

        <!-- NOME -->
        <div class="form-group row">
            <div class="col-4">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="produto.nome">
            </div>
        </div>

        <!-- DESCRIÇÃO -->
        <div class="form-group row">
            <div class="col-6">
                <label for="descricao">Descrição</label>
                <textarea class="form-control" id="descricao" name="descricao"
                    [(ngModel)]="produto.descricao"></textarea>
            </div>
        </div>

        <!-- Validade (meses) -->
        <div class="col-md-3 mt-3">
            <label for="validade">Validade (meses):</label>
            <input type="text" id="validade" [(ngModel)]="produto.validadeMeses" class="form-control"
                placeholder="Ex: 12" (keypress)="permitirSomenteNumeros($event)">
        </div>

        <!-- Preço -->
        <div class="col-md-3 mt-3">
            <label for="preco">Preço:</label>
            <input type="text" id="preco" [(ngModel)]="produto.preco" class="form-control" placeholder="Ex: 99.90"
                (keypress)="permitirSomenteNumerosComPonto($event)">
        </div>

        <!-- DISPONÍVEL -->
        <div class="form-group row">
            <div class="col-3">
                <label class="form-check-label">Disponível</label>
                <input type="checkbox" class="form-check-input" id="disponivel" name="disponivel"
                    [(ngModel)]="produto.disponivel">
            </div>
        </div>

        <!-- Quantidade -->
        <div class="form-group row">
            <div class="col-3">
                <label for="quantidade">Quantidade</label>
                <input type="number" class="form-control" id="quantidade" name="quantidade"
                    [(ngModel)]="produto.quantidade" placeholder="Ex: 10" (keypress)="permitirSomenteNumeros($event)">
            </div>
        </div>

        <!-- TIPO PESSOA -->
        <div class="col-md-4 mt-3">
            <label for="tipoPessoa">Tipo de Pessoa</label>
            <select id="tipoPessoa" class="form-select" [(ngModel)]="produto.tipoPessoa" required>
                <option value="" disabled selected>Selecione uma opção</option>
                <option value="F">Pessoa Física</option>
                <option value="J">Pessoa Jurídica</option>
            </select>
        </div>

        <!-- Modalidade (livre) -->
        <div class="col-md-4 mt-3">
            <label for="modalidade">Modalidade</label>
            <input type="text" id="modalidade" class="form-control" [(ngModel)]="produto.modalidade"
                placeholder="Digite a modalidade">
        </div>

        <!-- Categoria (dropdown com a1 e a3) -->
        <div class="col-md-4 mt-3">
            <label for="categoria">Categoria</label>
            <select id="categoria" class="form-select" [(ngModel)]="produto.categoriaCertificado" required>
                <option value="" disabled selected>Selecione uma opção</option>
                <option value="a1">A1</option>
                <option value="a3">A3</option>
            </select>
        </div>

        <br>

        <!-- BOTÕES -->
        <div class="form-group row">
            <div class="col-4">
                <button class="btn btn-info" type="submit">Salvar</button>
                <button (click)="retornar()" class="btn btn-success" style="margin-left: 10px">Voltar</button>
            </div>
        </div>

    </form>
</div>