<div class="container">
    <br>
    <h3>Alterar Produto</h3>
    <br>

    <form (ngSubmit)="onSubmit()">

        <!-- CÓDIGO -->
        <div class="form-group row">
            <div class="col-4">
                <label for="codigo">Código</label>
                <input type="text" class="form-control" id="codigo" name="codigo" [(ngModel)]="produto.codigo" disabled>
            </div>
        </div>

        <!-- NOME -->
        <div class="form-group row">
            <div class="col-4">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="produto.nome">
            </div>
        </div>

        <!-- DESCRIÇÃO -->
        <div class="form-group row">
            <div class="col-6">
                <label for="descricao">Descrição</label>
                <textarea class="form-control" id="descricao" name="descricao"
                    [(ngModel)]="produto.descricao"></textarea>
            </div>
        </div>

        <!-- VALIDADE MESES -->
        <div class="form-group row">
            <div class="col-3">
                <label for="validadeMeses">Validade (Meses)</label>
                <input type="number" class="form-control" id="validadeMeses" name="validadeMeses"
                    [(ngModel)]="produto.validadeMeses">
            </div>
        </div>

        <!-- PREÇO -->
        <div class="form-group row">
            <div class="col-3">
                <label for="preco">Preço</label>
                <input type="number" class="form-control" id="preco" name="preco" [(ngModel)]="produto.preco">
            </div>
        </div>

        <!-- DISPONÍVEL -->
        <div class="form-group row">
            <div class="col-3">
                <label class="form-check-label">Disponível</label>
                <input type="checkbox" class="form-check-input" id="disponivel" name="disponivel"
                    [(ngModel)]="produto.disponivel">
            </div>
        </div>

        <!-- QUANTIDADE -->
        <div class="form-group row">
            <div class="col-3">
                <label for="quantidade">Quantidade</label>
                <input type="number" class="form-control" id="quantidade" name="quantidade"
                    [(ngModel)]="produto.quantidade">
            </div>
        </div>

        <!-- TIPO PESSOA -->
        <div class="form-group row">
            <div class="col-4">
                <label for="tipoPessoa">Tipo Pessoa</label>
                <select class="form-control" id="tipoPessoa" name="tipoPessoa" [(ngModel)]="produto.tipoPessoa">
                    <option value="PF">Pessoa Física (PF)</option>
                    <option value="PJ">Pessoa Jurídica (PJ)</option>
                </select>
            </div>
        </div>

        <!-- MODALIDADE -->
        <div class="form-group row">
            <div class="col-5">
                <label for="modalidade">Modalidade</label>
                <select class="form-control" id="modalidade" name="modalidade" [(ngModel)]="produto.modalidade">
                    <option *ngFor="let modalidade of modalidadesDisponiveis" [value]="modalidade">
                        {{ modalidade }}
                    </option>
                </select>
            </div>
        </div>

        <!-- CATEGORIA CERTIFICADO -->
        <div class="form-group row">
            <div class="col-5">
                <label for="categoriaCertificado">Categoria Certificado</label>
                <select class="form-control" id="categoriaCertificado" name="categoriaCertificado"
                    [(ngModel)]="produto.categoriaCertificado.codigo">
                    <option *ngFor="let categoria of categorias" [ngValue]="categoria.codigo">
                        {{ categoria.nome }}
                    </option>
                </select>
            </div>
        </div>

        <br>

        <!-- BOTÕES -->
        <div class="form-group row">
            <div class="col-4">
                <button class="btn btn-info" type="submit">Salvar</button>
                <button (click)="retornar()" class="btn btn-success" style="margin-left: 10px">Voltar</button>
            </div>
        </div>

    </form>
</div>