<div class="container mt-5 p-4 bg-light rounded shadow-sm">
  <h2 class="mb-4">Consulta de Empresa</h2>

  <!-- Dados da Empresa -->
  <div class="row mb-3">
    <div class="col-md-6">
      <strong>Razão Social:</strong> {{ empresa.razaoSocial }}
    </div>
    <div class="col-md-6">
      <strong>Nome Fantasia:</strong> {{ empresa.nomeFantasia }}
    </div>
    <div class="col-md-4 mt-2">
      <strong>CNPJ:</strong> {{ empresa.cnpj }}
    </div>
    <div class="col-md-4 mt-2">
      <strong>Email:</strong> {{ empresa.email }}
    </div>
    <div class="col-md-4 mt-2">
      <strong>Telefone:</strong> {{ empresa.telefone }}
    </div>
  </div>

  <h4 class="mt-4">Endereço</h4>

  <!-- Endereço da Empresa -->
  <div class="row mb-3">
    <div class="col-md-6">
      <strong>Logradouro:</strong> {{ endereco.logradouro }}
    </div>
    <div class="col-md-2">
      <strong>Número:</strong> {{ endereco.numero }}
    </div>
    <div class="col-md-4">
      <strong>Bairro:</strong> {{ endereco.bairro }}
    </div>
    <div class="col-md-4 mt-2">
      <strong>Cidade:</strong> {{ endereco.cidade }}
    </div>
    <div class="col-md-4 mt-2">
      <strong>Estado:</strong> {{ endereco.estado }}
    </div>
    <div class="col-md-4 mt-2">
      <strong>CEP:</strong> {{ endereco.cep }}
    </div>
  </div>

  <!-- Botão -->
  <div class="mt-4">
    <button class="btn btn-secondary" (click)="voltar()">Voltar</button>
  </div>
</div>