<div class="container my-5 futuristic-bg"> 
    <h2 class="text-center text-primary-neon fw-bold mb-4 animate__animated animate__fadeInDown">
        Bem-vindo ao Sistema de Gestão de Certificados Digitais
    </h2>

    <p class="text-center fs-5 text-light-neon mb-5 animate__animated animate__fadeInUp">
    Gerencie e monitore todos os processos da revenda de Certificados Digitais.<br>
    Utilize os módulos para administrar **Clientes**, **Empresas**, **Produtos A1 e A3**, e **Orçamentos**.<br>
    Garanta a eficiência e o controle operacional do seu negócio.
</p>

    <div class="row justify-content-center text-center mt-5">
    
    <div class="col-md-4 col-sm-6 mb-4 animate__animated animate__zoomIn">
        <a routerLink="/cliente-lista" class="btn btn-neon-primary w-100 fw-bold futuristic-btn">Clientes</a>
        <div class="module-image-wrapper mt-3">
            <img src="/clientes.jpg" alt="Ícone Clientes" class="img-fluid module-icon">
        </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-4 animate__animated animate__zoomIn animate__delay-0-1s">
        <a routerLink="/empresa-lista" class="btn btn-neon-primary w-100 fw-bold futuristic-btn">Empresas</a>
        <div class="module-image-wrapper mt-3">
            <img src="/empresas.jpg" alt="Ícone Empresas" class="img-fluid module-icon">
        </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-4 animate__animated animate__zoomIn animate__delay-0-2s">
        <a routerLink="/produto-lista" class="btn btn-neon-primary w-100 fw-bold futuristic-btn">Produtos</a>
        <div class="module-image-wrapper mt-3">
            <img src="/produtos.png" alt="Ícone Produtos" class="img-fluid module-icon">
        </div>
    </div>
    
    <div class="col-md-6 col-sm-6 mb-4 animate__animated animate__zoomIn animate__delay-0-3s">
        <a routerLink="/categoriacertificado-lista" class="btn btn-neon-primary w-100 fw-bold futuristic-btn">Categorias de Certificado</a>
        <div class="module-image-wrapper mt-3">
            <img src="/categorias.jpg" alt="Ícone Categorias" class="img-fluid module-icon">
        </div>
    </div>
    <div class="col-md-6 col-sm-6 mb-4 animate__animated animate__zoomIn animate__delay-0-4s">
        <a routerLink="/orcamento-lista" class="btn btn-neon-primary w-100 fw-bold futuristic-btn">Orçamentos</a>
        <div class="module-image-wrapper mt-3">
            <img src="/orcamentos.jpg" alt="Ícone Orçamentos" class="img-fluid module-icon">
        </div>
    </div>
</div>
</div>